.tcContainer {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  padding-left: 248px;
}

@media only screen and (max-width: calc(248px * 5)) {
  .tcContainer {
    padding-left: 0;
  }
}
