.patchNotes {
  padding: 1rem;
  max-width: 750px;
  margin: 0 auto;
}

.section {
  margin-top: 1.5rem;
}

.sectionHeader {
  display: flex;
  align-items: center;
  text-align: center;
}

.sectionHeader:hover {
  cursor: pointer;
}

.sectionTitle {
  margin-right: 1.5rem;
}

.paragraph {
  margin-top: 1rem;
}
