.exampleItems {
  padding: 1rem;
  max-width: 750px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
}

.singleItemWrapper {
  display: flex;
}

.singleItemIconWrapper {
  position: relative;
}

.singleItemIcon {
  height: 62px;
  width: 62px;
  border-radius: 5px !important;
  display: block;
  left: 3px;
  position: absolute;
  top: 3px;
  z-index: 20;
}

.singleItemHighlight {
  height: 68px;
  width: 68px;
  background-repeat: no-repeat;
  display: block;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 10;
}

.singleItemDescription {
  margin-left: 70px;
  padding: 8px;
  min-width: 270px;
  max-width: 270px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.itemName {
  font-size: 14px;
  line-height: 17px;
}

.singleItemFlex {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 17px;
}

.itemDescription {
  font-size: 12px;
  line-height: 17px;
  color: #1eff00;
}

.singleItemPlayerClass {
  font-size: 12px;
  line-height: 17px;

}